html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;

    font-family: 'Roboto', sans-serif;
}

:link {
    color: inherit;
    text-decoration: none;
}

:link:visited {
    color: #b4bfbf;
}

:link:hover, :link:focus-visible {
    color: #a5a5a5;
    outline: none;
}

:link:active {
    color: #7986a3;
}

#content-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    gap: 1em;

    color: #f0f8ff;
    background-color: rgb(26, 26, 26);
}

#content-wrapper :first-child {
    margin-top: auto;
}

#content-wrapper p {
    margin: 0;
}

#info-wrapper {
    height: 100vh;
    width: 64vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}

#info-wrapper h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#info-wrapper p {
    text-align: center;
}

#klageboks {
    margin-top: auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#github-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toplevelwrapper {
    height: 100%;
    width: 100%;
}

#xkronersspørsmålet {
    margin: 0 2em;
    font-family: 'Victor Mono', monospace;
    font-size: 3.5em;
    word-wrap: break-word;
    text-align: center;
    width: 100%
}

#xkroneritall {
    font-family: 'Victor Mono', monospace;
    font-size: 2em;
    margin-top: -0.5em;
}

footer {
    /* position: relative;
    bottom: 0; */
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
    gap: 0.5em;

    background-color: inherit;
}

footer p {
    margin: 0;
}

