html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;

    background-color: rgb(26, 26, 26);
    color: #f0f8ff;
    font-family: 'Roboto', sans-serif;
    
}

:link {
    color: inherit;
    text-decoration: none;
}

:link:visited {
    color: #b4bfbf;
}

:link:hover, :link:focus-visible {
    color: #a5a5a5;
    outline: none;
}

:link:active {
    color: #7986a3;
}

#content-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

#toplevelwrapper {
    height: 100%;
    width: 100%;
}

#xkronersspørsmålet {
    font-family: 'Victor Mono', monospace;
    font-size: 3.5em;
    word-wrap: break-word;
    text-align: center;
    width: 100%
}

#xkroneritall {
    font-size: 2em;
    margin-top: -0.5em;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 1em 0;
    gap: 0.5em;
}

footer p {
    margin: 0;
}

